/* base: */

/* common: */

/* layout: */
.l-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

/* modules: */
.m-issue {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.m-issue .l-delete {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.m-issue-description {
  font-size: 18px;
  font-weight: 600;
  color: indigo;
}
.m-issue-metadata {
  background-color: aliceblue;
}

.m-project {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.m-project .l-delete {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.m-project-description {
  font-size: 18px;
  font-weight: 600;
  color: indigo;
}

.m-title {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}
.m-title:after {
  position: absolute;
  bottom: -10px;
  content: "";
  left: 0;
  height: 4px;
  width: 120px;
  background-color: #dc3545;
}

.m-required:after {
  content: "*";
  color: rgb(241, 43, 43);
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
